<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/avs_style.css">
</head>
<body>
    <div class="container">
      <form action="/removebooks">
   <h3>Delete Book</h3>
   
    <hr>
 
    <label for="book_id"><b>Book ID</b></label>
            <input type="number" placeholder="Enter book ID" name="book_id" id="book_id" required>
    <br>
    <button type="submit" class="registerbtn">DELETE BOOK</button>
    {{!-- <br> --}}
    <a href="/admin_dash" style="color:black">BACK TO HOME PAGE</a>

    <br>
    {{#if mesg1}}
    <h3>Data deleted!</h3>
    {{/if}}

     {{#if mesg2}}
    <h3>Not found!</h3>
    {{/if}}
    </form>
  </div>
</body>
</html>