/* CSS Reset */
*{
    margin:0px;
    padding:0px;
  }
  
  /* Navigation Bar */
  #navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
  }
  
  #navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
  }
  
  /* Navigation Bar Logo and Img */
  #logo{
    margin:2px 34px;
  }
  
  #logo img{
    margin: 2px 2px;
    height: 36px;
    border-radius: 10px;
  }
  
  /* Navigation Bar List Styling */
  #navbar ul{
    display: flex;
  }
  
  #navbar ul li{
    list-style: none;
    font-family: 'Bree Serif', serif; 
    font-size: 20px;
  }
  
  #navbar ul li a{
    color: rgb(35, 13, 63);
    display: block;
    padding: 6px 25px;
    border-radius: 20px;
    text-decoration: none;
  }
  
  #navbar ul li a:hover{
    color:black;
    background-color: wheat;
  }

.container-fluid{
    height:451px;
    position: absolute;
    top:58%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width:1180px;
    padding: 30px;
    background-color: rgb(155, 155, 253);
}